.login-container {
  display: flex;
  flex-direction: column;
  max-width: 600px;
}
.login-container form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}
.login-container sub {
  width: 260px;
  height: 30px;
  border: 1px solid transparent;
  border-radius: 8px;
  border-color: darkgray;
  box-shadow: rgba(0, 0, 0, 0.6);
  text-align: center;
}
.login-container input {
 width: 260px;
  height: 50px;
  border-radius: 8px;
  border-color: darkgray;
  box-shadow: rgba(0, 0, 0, 1.8);
  text-align: center;
  padding: 0 20px;
  font-size: 20px;
}